<div class="content">

  <mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>

    <form>
      <mat-form-field>
          <input matInput placeholder="Dê um nome para sua sugestão" [value]="sugestao.name" name="name" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Resuma sua ideia" [value]="sugestao.explicacao" name="explicacao" disabled>
      </mat-form-field>

    </form>

    <button mat-raised-button (click)="deleteSugestao()" color="warn">
      Excluir
    </button>

    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>

  </mat-card>
</div>

