
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>

    <h1>Angular Material Sidenav</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side">
    <mat-nav-list>
        <a mat-list-item (click)="homePage()">Home</a>
        <a mat-list-item (click)="contextoPage()">Contexto</a>
        <a mat-list-item (click)="ideiaPage()">Ideia e Solução</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
