<div class="content">

  <h2>Teste de Título</h2>

  <p>ideia-solucao works! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, suscipit. Nisi, sapiente. Atque, quam earum velit quibusdam cumque est repudiandae assumenda, ipsa quidem rerum, eius consectetur amet saepe ullam veritatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aspernatur, ipsa reiciendis perferendis earum excepturi a ratione debitis non necessitatibus minus, recusandae hic totam harum ab dolor error ullam expedita? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus a nulla veniam quia placeat, ducimus commodi ratione pariatur similique enim omnis porro exercitationem iusto eaque iure ullam sed? Quod, qui?</p>

  <h3><strong>Adicione alguma sugestão e também contribua com o projeto!</strong></h3>

  <button mat-raised-button (click)="SugestaoCreate()">
    Nova Sugestão
  </button>
</div>

